<!-- templates/admin_list_user.html -->
{% extends "base.html" %}
{% block content %}
<h2>User List</h2>
{% if msg %}
<div style="color: green; margin-bottom:1rem;">
    {{ msg }}
</div>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>School No</th>
            <th>Role</th>
            <th>Class(es)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>
                {% if u.role == 'student' %}
                {{ u.okul_no }}
                {% else %}
                -
                {% endif %}
            </td>
            <td>{{ u.role }}</td>
            <td>{{ u.class_name }}</td>
            <td>
                <a href="/admin_update_user?username={{ u.username }}" class="btn">Update</a>
                <a href="/admin_delete_user?username={{ u.username }}" class="btn">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}