<!-- templates/admin_menu.html -->
{% extends "base.html" %}
{% block content %}
<h2>Admin Panel</h2>
{% if msg %}
<div style="color: green; margin-bottom:1rem;">
    {{ msg }}
</div>
{% endif %}
<p class="welcome-message">
    Hello, {{ user_info.name }} {{ user_info.surname }} ({{ user_info.role|capitalize }})
</p>
<ul class="button-group">
    <li><a href="/admin_list_users" class="btn">List All Users</a></li>
    <li><a href="/user_profile" class="btn">Update My Profile</a></li>
    <li><a href="/admin_view_stats" class="btn">View Statistics</a></li>
</ul>
{% endblock %}