<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
        <h1>Quiz App</h1>
        <nav>
            <!-- Main Menu button will perform role-based redirection (logic is in ui.py). -->
            <a href="/" class="btn">Main Menu</a>
            <a href="/logout" class="btn">Log Out</a>
            <!-- Check parameter for Back button -->
            {% if not hide_back_button %}
            <a href="javascript:history.back()" class="btn">Back</a>
            {% endif %}
        </nav>
    </header>

    <section class="centered-container">
        <div class="content-box">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="/static/js/timer.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>