{% extends "base.html" %}
{% block content %}
<h2>Student Menu</h2>

<p class="welcome-message">
    Hello, {{ user_info.name }} ({{ user_info.role|capitalize }}) <br>
    School ID: {{ mapped_school_id }} - Class: {{ user_info.class_name }} <br>
    Remaining Exam Attempts: {{ left_attempts }} - Average Score: {{ user_info.score_avg }}
</p>

<ul>
    <li><a href="/student_solve_exam" class="btn">Start Exam</a></li>
    <li><a href="/student_view_results" class="btn">View My Results</a></li>
    <li><a href="/user_profile" class="btn">Update My Profile (First Name/Last Name/Password)</a></li>
</ul>
{% endblock %}