{% block content %}
<h2>Teacher Menu</h2>

<!-- Welcome, TeacherName -->
<p class="welcome-message">Hello, {{ user_info.name }} ({{ user_info.role|capitalize }}) <br>
    School ID: {{ user_info.school_id }} <br>
    Class: {{ user_info.class_name }} <br>
    Section: {{ user_info.registered_section }}</p>

<!-- Question added message -->
{% if msg %}
<div style="color: green;">{{ msg }}</div>
{% endif %}

<ul>
    <li><a href="/teacher_add_question" class="btn">Add Question</a></li>
    <li><a href="/teacher_view_stats" class="btn">View Statistics</a></li>
    <li><a href="/user_profile" class="btn">Update My Profile (First Name/Last Name/Password)</a></li>
</ul>
{% endblock %}